################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/obj
*/bin
*.vs
*.suo
*.user
/RealEstate/RealEstate/bin/Debug/netcoreapp2.0
/RealEstate/RealEstate/obj
/WebApi/Models/bin
/WebApi/Models/obj
/WebApi/NoSqlRepository/bin
/WebApi/NoSqlRepository/obj
/WebApi/Repository/bin
/WebApi/Repository/obj
/WebApi/RepositoryProvider/bin
/WebApi/RepositoryProvider/obj
/WebApi/WebApi/obj
/WebApi/WebApi/bin