<div style="width: 20%; float:left">
    <li *ngFor="let contact of contacts">
        <a (click)="setSelectedContact(contact)">
            {{contact.firstName}}
        </a>
    </li>
</div>

<div style="width: 80%; float:right">
    <mat-tab-group>
        <mat-tab label="General">
            Contact first name: {{selectedContact?.firstName}}
            Contact last name: {{selectedContact?.lastName}}
        </mat-tab>
        <mat-tab label="Notes">
            Notes
            <mat-form-field>
                <input matInput [matDatepicker]="picker" [(ngModel)]="birthDate" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            {{selectedContact?.birthDate}}
        </mat-tab>
    </mat-tab-group>
</div>
